<!DOCTYPE html>
<html>

<head>
  <title>Virtual Desktop</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
  <link href="css/vuetify.min.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" />
</head>

<body>
  <div id="app" @mousemove="resizingDraggingWindow">
    <v-app>
      <v-navigation-drawer id="drawer" stateless hide-overlay :mini-variant.sync="mini" v-model="drawer" fixed clipped app right>
        <v-list class="pt-0" dense>
          <v-list-tile v-for="application in applications" @click="switchApp(application.name)" @click.native.stop="mini=true">
            <v-list-tile-action>
              <v-icon large :title="application.name">{{application.icon}}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{application.name}}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar id="menubar" color="secondary" dark fixed clipped-right app @mouseup="stopDrag">
        <v-toolbar-title class="pr-4" id="currentApp">{{currentApp}}</v-toolbar-title>
        <v-toolbar-items>
          <v-menu offset-y="true" v-for="menu in _.find(applications, (a) => a.name === currentApp).menubar">
            <v-btn flat slot="activator">
              {{menu.name}}
            </v-btn>
            <v-list>
              <template v-for="item in menu.menu">
                <v-list-tile @click="item.action" v-if="!item.divider">{{item.name}}</v-list-tile>
                <v-divider v-else></v-divider>
              </template>
            </v-list>
          </v-menu>
        </v-toolbar-items>
        <v-spacer></v-spacer>
        <v-btn id="menuToggler" @click.native.stop="mini = !mini" large icon>
          <v-icon large>apps</v-icon>
        </v-btn>
      </v-toolbar>
      <v-content id="content">
        <v-container id="container" fluid v-resize="resizeContent">
          <div v-for="win in _.sortBy(windows, (a) => -a.index)">
            <v-card class="windows" :id="`windows-${win.index}`" :width="win.size[0]" :height="win.size[1]" :style="{left: win.position[0] + 'px', top: win.position[1] + 'px', maxWidth: maxSize[0] + 'px', maxHeight: maxSize[1] + 'px'}">
              <div @mousedown="startDrag(win.index, $event)" @mouseup="stopDrag">
                <v-system-bar class="system-bar" :id="`windows-${win.index}-drag`" :color="_.find(applications, (a) => a.name === win.application).color">
                  <v-spacer></v-spacer>
                  <v-btn small flat icon>
                    <v-icon>remove</v-icon>
                  </v-btn>
                  <v-btn small flat icon>
                    <v-icon>check_box_outline_blank</v-icon>
                  </v-btn>
                  <v-btn small flat icon>
                    <v-icon>close</v-icon>
                  </v-btn>
                </v-system-bar>
              </div>
              <div :is="`app-${_.find(applications, (a) => a.name === win.application).varName}`">
              </div>
              <div class="resize-icon" :id="`windows-${win.index}-resize`" @mousedown="startResize(win.index)" @mouseup="stopResize">
                <v-icon small>loupe</v-icon>
              </div>
            </v-card>
          </div>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script src="js/vue.min.js"></script>
  <script src="js/vuetify.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/lodash.min.js"></script>
  <script src="js/filesystem.js"></script>
  <script src="js/browser.js"></script>
  <script src="js/script.js"></script>
</body>

</html>
